<ion-header >
  <ion-toolbar color="light">
    <ion-title style="text-align: center">نهایی کردن خرید</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >

  <ion-grid >

    <ion-row>
      <ion-col size-md="12"  size-xs="12" class="posload1" style="text-align: center">
        <img src="https://geofahm.ir/takstart/assets/img/bakian1.gif" alt="" class="imgload44 marginload">

      </ion-col>
      <ion-col size-md="12"  size-xs="12" class="pospload">

        <p class="imgload marginload2" style="text-align: center">لطفا جهت پیگیری و نهایی شدن خرید خود بر روی دکمه زیر کلیک کنید.</p>
      </ion-col>
      <ion-col size-md="12"  size-xs="12" class="posload3">
        <ion-button (click)="loadingButton()" class="color-register2-loading imgload2 btnload" fill="outline"  ><ion-icon name="checkmark-outline"></ion-icon>تایید</ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>
