<ion-content class="main-all">
  <ion-header class="haeder-all height42">
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon class="home-close-button" name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <p class="centrate">وای چه عالی</p>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon  name="arrow-back-outline">
          </ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4" size-xs="12">
        <p class="pprec">
          رای شما 4 تا ستاره
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="4" offset-md="4">
        <ion-textarea value="" class="inprate" placeholder="در مورد این سرویس بنویسید"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="4" offset-md="4" size-xs="12">
        <p class="pprec" id="pprec">
          امتیاز به نماینده
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" size-md="4" offset-md="4" class="disrate" style="direction: rtl">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="special-rate-row" size-md="4" offset-md="4" size-xs="12">
        <p class="colorrate">
          از مشارکت شما متشکریم
        </p>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size-md="4" offset-md="4" size-xs="12" class="button-grid rate-abso-button">
        <ion-button class="color-register2 rate-abso-button-inner " fill="outline"  type="submit"><ion-icon name="checkmark-outline"></ion-icon>ثبت</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
