<ion-content class="main-all">
  <ion-header class="haeder-all">
    <ion-toolbar color="light">
      <ion-buttons  slot="start">
        <ion-button  (click)="backClick()">
          <ion-icon class="home-close-button"  name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="done">
        <ion-icon name="checkmark-done-outline"></ion-icon>
        <ion-label>انجام شده</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="running">
        <ion-icon name="refresh-outline"></ion-icon>
        <ion-label>در حال انجام</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

