.prec{margin-right:2%;font-weight:400!important;font-size:14px}.hrec{font-size:16px;color:#3cd0fc;border-bottom:1px solid #f1f4f8;padding-bottom:2%}.floatr{display:inline-flex;color:#222b45;margin-right:15px;margin-top:-1px}.floatl{display:inline-flex;float:left;margin-left:5px;margin-top:-1px;color:#acb1c0}.lirec{list-style-type:none}li:nth-child(even){list-style-image:url('../../../assets/img/Rectangle Copy.png')}.li2rec{line-height:40px;direction: rtl}.spanrec{float:left;padding-right:15px;color:#acb1c0}li:nth-child(odd){list-style-image:url('../../../assets/img/Rectangle Co.png')}.floatrimg{float:right;margin-right:10px;font-weight:700;margin-top:6px}.pprec{color:#acb1c0}.message-button{font-weight:700;width:100px;height:43px}.call-button{font-weight:700;border-radius:30px;width:100px;height:43px}.shop-second-row{border-bottom:1px solid #f1f4f8}.shop-img{width:50px;height:50px;border-radius:5px;float:right}.shop-all{float:right}.shop-p2{color:#222b45;font-weight:700;margin-right:5px;line-height:2px}.shop-p3{color:#acb1c0;margin-right:5px;font-size:10px}.shop-h3{font-weight:700;color:#222b45;border-bottom:1px solid #f1f4f8;padding-bottom:2%}
.receive-btns1{
  text-align: center;
}
.receive-btns2{
  text-align: center;
}
.message-button {
  float: left;
  margin-bottom: 8px;
}
.call-button {
  float: right;
  margin-bottom: 8px;
}
.shop-buttons-row {
  padding:0 20px;
}
.special {
  margin-bottom: 57px;
}
.receive-abso{
  width: 100%;position: fixed;bottom: 0px;background-color: #fff
}
