<ion-content class="main-all">

  <ion-grid>

    <ion-row>
      <ion-col size-md="4" offset-md="4" size-xs="12">
        <h3 class="header-register hrec">فرایند آماده سازی سفارش شما</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="shop-third-row" size-md="4" offset-md="4" size-xs="12">
        <ion-row>
          <ion-col size-md="12" size-xs="12">
            <ul class="li2rec">
              <li class="images">تهرانسر</li>
              <li class="images-active">تهرانسر</li>
              <li class="images">آزادی</li>
              <li class="images-active">آزادی</li>
              <li class="images">اکباتان</li>
              <li class="images-active">اکباتان</li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
