<ion-content class="main-all">
  <ion-header  class="haeder-all " >
    <ion-toolbar color="light">
      <p class="prec">نمایندگی 2 دقیقه با شما فاصله دارد</p>
      <ion-buttons slot="end">
        <ion-button (click)="backClick()" style="color: #ACB1C0;">
          لغو درخواست
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col class="shop-second-row" size-md="4" offset-md="4" size-xs="12" >
        <img class="shop-img" src="https://geofahm.ir/www/assets/img/person.png" alt="">
        <div class="shop-all">
          <p class="shop-p2">حسام خردمند</p>
          <p class="shop-p3">آدرس نمایندگی:خیابان ولیعصر...</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="4" offset-md="4" sixe-xs="12">
        <p class="pprec">
          سفارش شما در حال آماده سازی است لطفا مکان خود را تغییر ندهید
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="4" offset-md="4" size-xs="12">
        <h3 class="header-register hrec">فرایند آماده سازی سفارش شما</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="shop-third-row" size-md="4" offset-md="4" size-xs="12">
        <ion-row>
          <ion-col size-md="12" size-xs="12">
            <ul class="li2rec">
              <li><span class="spanrec">17:04</span>تهرانسر</li>
              <li><span class="spanrec">18:14</span>آزادی</li>
              <li><span class="spanrec">19:24</span>اکباتان</li>
              <li><span class="spanrec">20:18</span>پونک</li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="shop-third-row special" size-md="4" offset-md="4" size-xs="12">
        <p>پرداخت</p>
        <h3 class="shop-h3">12000 تومان</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="shop-buttons-row receive-abso"  size-md="4" offset-md="4" size-xs="12">
        <ion-button fill="outline"  class="call-button " fill="outline"><ion-icon name="call-outline"></ion-icon>تماس</ion-button>
        <ion-button fill="outline"  class="message-button color-login "><ion-icon name="mail-outline"></ion-icon>پیام</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
