<ion-header class="toolbar-rel " >
  <ion-toolbar color="light " >
    <ion-buttons slot="end">
      <ion-button (click)="clickMenu()"class="home-close-button"  *ngIf="!menuControl"><ion-icon class="home-close-button" name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button  (click)="clickMenu2()"  *ngIf="menuControl"><ion-icon class="home-close-button" name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="home-message">مکان خود را مشخص نمایید</ion-title>
  </ion-toolbar>
</ion-header>

  <div *ngIf="show" id="container" >
    <mgl-map
      [zoom]="[zoomis]"
      [center]="center"
      [centerWithPanTo]="true"
      [interactive]="true"
      [apiKey]="apiKey"
      (moveEnd)="moved($event)"
      (load)="onMapLoad($event)"

    >
     <!-- <mgl-popup *ngIf="process && markerPosition2"
        [lngLat]="markerPosition2"
        anchor="bottom"

        [closeOnClick]="false"
      >
        <b>نماینده شما تا {{time}} دقیقه دیگر به شما میرسد</b>
      </mgl-popup>-->
      <mgl-marker *ngIf="process && markerPosition2"

      [(lngLat)]="markerPosition2"
      [draggable]="false"

      (dragEnd)="dragged($event)"
      anchor="top"
      >
        <img src="https://geofahm.ir/takstart/assets/img/Untitled-3.png" style="width: 60px;height: 70px" alt="">
      </mgl-marker>
      <mgl-marker *ngIf="process"

                  [(lngLat)]="markerPosition"
                  [draggable]="process"

                  (dragEnd)="dragged($event)"
                  anchor="bottom"
      >
        <img src="https://geofahm.ir/takstart/assets/img/index.png" style="width: 60px;height: 70px" alt="">
      </mgl-marker>
    </mgl-map>
    <img *ngIf="!process" class="image-marker" src="https://geofahm.ir/takstart/assets/img/index.png" style="width: 60px;height: 70px;" alt="">
    <div class="abso2">
      <ion-input [(ngModel)]="input" *ngIf="!process" class="input-register input-loc" placeholder="کجا هستید؟" readonly (click)="modalSearch()"><ion-icon name="search-outline"></ion-icon></ion-input>
    </div>
  <ion-button class="color-register2 abso" *ngIf="!process" style="z-index: 99999;" fill="outline"  (click)="clickButton()"><ion-icon style="font-size: 23px" name="location-outline"></ion-icon>تایید مکان </ion-button>
  <ion-button class="color-register2 abso" *ngIf="process" style="z-index: 99999;" fill="outline"  (click)="clickButton2()"><ion-icon style="font-size: 23px" name="bag-remove-outline"></ion-icon>پیگیری سفارش </ion-button>
    <ion-icon class="abso3" *ngIf="!process" name="locate-outline" (click)="clickGps()"></ion-icon>
  </div>
<div *ngIf="menuControl" class="home-side-menu0" >
  <ion-grid class="home-side-menu1">
    <ion-row class="home-side-menu2">
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start" class="image-card">
              <img class="image-card" src="{{users.avatar}}">
            </ion-avatar>
            <ion-label>
              <h2>{{users.first_name}} {{users.last_name}}</h2>
              <p class="edit" (click)="edit2()">ویرایش حساب</p>
            </ion-label>
          </ion-item>
          <ion-item class="row-menu">
            <ion-label class="item-menu" (click)="historyModal()">
              <ion-icon class="icon-menu" name="create-outline"></ion-icon>سفارش های من
            </ion-label>
          </ion-item>
          <!--<ion-item class="row-menu">
            <ion-label class="item-menu" [routerLink]="['/', 'payment', 'offer']">
              <ion-icon class="icon-menu" name="gift-outline"></ion-icon>تخفیف ها
            </ion-label>
          </ion-item>-->
          <ion-item class="row-menu">
            <ion-label class="item-menu"  >
              <a class="call-me" href="tel:09203185480">
              <ion-icon class="icon-menu" name="call-outline" ></ion-icon>تماس با ما
              </a>
            </ion-label>
          </ion-item>
          <ion-item class="row-menu">
            <ion-label class="item-menu"  >
              <a class="call-me" href="https://bakian.ir">

              <ion-icon class="icon-menu" name="globe-outline" ></ion-icon>سایت
              </a>
            </ion-label>
          </ion-item>
          <ion-item class="row-menu-exit">
            <ion-label class="item-menu" (click)="exit()">
              <ion-icon class="icon-menu" name="exit-outline"></ion-icon>خروج از حساب کاربری
            </ion-label>
          </ion-item>

        </ion-list>

      </ion-col>

    </ion-row>
  </ion-grid>
</div>

<!--<ion-col class="shop-buttons-row" size-md="12" size-xs="12">-->
  <!--<ion-row>-->
    <!--<ion-col size-md="6" size-sm="6" size-xs="6">-->
     <!---->
    <!--</ion-col>-->
    <!--<ion-col size-md="6" size-sm="6" size-xs="6" style="text-align: center">-->
      <!---->
    <!--</ion-col>-->











