.login-text{font-size:14px}@media only screen and (max-width:568px){.box-img{width:50px!important}}@media only screen and (max-width:472px){.box-img{margin-top:16px}}.battery-image{display:inline-flex;direction:rtl}.login-text a{text-decoration:none;color:#3cd0fc}.text-color{text-align:center;font-size:12px;color:#acb1c0}.margin-bottom{margin-bottom:2%;padding:1% 0}.box-img{height:50px;width:auto;float:right}.input-img{float:right;margin-left:5px;margin-top:7px}.box{cursor:pointer;border-radius:7px;padding:1.5% 1.5% 1.5% 1.5%;background-color:#f7f8fa;margin-bottom:2%}.box-h{line-height:12px;margin-right:2%}.box-h2{line-height:17px;margin-right:2%}.product-text{float:left;color:#8f9bb3;font-weight:700}.product-text1{margin-right:4px;float:right}.product-input{float:right}.login-text{font-size:12px;color:#acb1c0}.login-text a{text-decoration:none;color:#3cd0fc}.text-color{text-align:center;font-size:12px;color:#acb1c0}.width-100{width:100%}.width-100i{width:100%!important}.product-direction{direction:rtl}
.shop-p1{padding-right:15px;color:#222b45}.shop-top-button{color:#acb1c0}.shop-img{width:50px;height:50px;border-radius:5px;float:right}.shop-p2{color:#222b45;font-weight:700;margin-right:5px;line-height:2px}.shop-third-row{margin-bottom:2%;position:relative}.shop-second-row{border-bottom:1px solid #f1f4f8;padding-bottom:2%;margin-bottom:2%}.call-button{font-weight:700;border-radius:30px;width:100px;height:43px}.message-button{font-weight:700;width:100px;height:43px}.shop-h3{direction:rtl;text-align: center;color:#222b45}.color-register2{width:100%;height:43px;font-weight:700;border-radius:10px!important}.shop-buttons-row{border-top:1px solid #f1f4f8}.shop-p3{color:#acb1c0;margin-right:5px;font-size:10px}.shop-all{float:right}.shop-price-row{margin-bottom:3%}@media only screen and (max-width:767px){.shop-p1{font-size:11px}}@media only screen and (max-width:767px){.shop-top-button-font{font-size:11px}}
.shop-abso{
  width: 100%;position: fixed;bottom: 0px;background-color: #fff;
  left: 0;
  right: 0;
}
.special-shop-row {
  margin-bottom: 17px;
}

.login-text{
  font-size: 12px;
  color: #ACB1C0;


}
.button-grid{
  margin-top: 2%;
}
.button-grid2{
  margin-top: 2%;
}
.button-grid3{
  margin-top: 2%;
  margin-bottom: 2%;
}
.login-text a{
  text-decoration: none;
  color: #3cd0fc;
}
.input-register{
  border: 1px solid #eee;
  border-radius: 10px ;
  height: 40px;

}

.color-register2{
  width: 100%;
  height: 43px;
  font-weight: bold;
  border-radius: 10px !important;
}
.color-register2{
  width: 100%;
  height: 43px;
  font-weight: bold;
  border-radius: 10px !important;
}
.color-facebook{
  background-color: #3b5a99;
  color: white;
  width: 115px;
  height: 38px;
  border-radius: 10px;

  padding: 10px;
}
.color-twitter{
  background-color: #3cd0fc;
  color: white;
  width: 115px;
  height: 36px;
  border-radius: 10px;

  padding: 10px;
}
.grid-twiiter{
  text-align: left;
  padding-left: 15px;
}
.grid-facebook{
  text-align: right;
  padding-right: 15px;
}
.text-color{
  text-align: center;
  font-size: 12px;
  color: #ACB1C0;
}
.privacy p{
  text-align: center;

}
.privacy p a{
  text-decoration: underline !important;
}
.forget-password a{
  text-decoration: none;
  color: #3cd0fc;

}
.forget-password{
  margin-top: 2%;

}
.imgload{
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;

}
.imgload2{
  width: 150px;
  height: 43px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;

}
.posload1{
  position: relative;
  width: 150px;
  height: 130px
}
.posload2{
  position: relative;
  width: 150px;
  height: 130px
}
.posload3{
  position: relative;
  width: 150px;
  height: 100px
}
.pospload{
  position: relative;
  width: 150px;
  height: 40px
}
.marginload{
  margin-top: 10%;
}
.btnload{
  margin-top: 20%;
}
.login-text{font-size:12px;color:#acb1c0}.button-grid{margin-top:2%}.login-text a{text-decoration:none;color:#3cd0fc}.box-img{width:50px;height:50px;float:right}.box{box-shadow:0 0 8px 1px #eee;border-radius:7px;padding:1.5% 1.5% 1.5% 1.5%;margin-bottom:2%}.icon-check{text-align:left;float:left;font-size:28px;color:#41d5fb;margin-top:11px}.box-h{line-height:12px;margin-right:2%}.box-h2{line-height:17px;margin-right:2%;float:right}.plus-icon{color:#41d5fb}.sale{margin-bottom:3%}.button-grid{margin-top:2%}.color-register2{padding-right:13px ;width:100%;height:43px;font-weight:700;border-radius:10px!important}.add-new{font-weight:700;cursor:pointer}
.payment-button{
  color:#41d5fb;
}
.login-code-gif{
  width: 200px;
  height: 200px;
  position: relative;
  left: 0;
  right: 0;
  margin:0 auto;
}
.box2{border-radius:7px;padding:1.5% 1.5% 1.5% 1.5%;background-color:#f7f8fa;margin-bottom:80px}
